{{!--
This footer template is shared across all the pages.
--}}

<footer class="m-footer">
  <div class="m-footer__content">
    <p class="m-footer-copyright">
      <span>{{@site.title}} &copy; {{date format="YYYY"}}</span>
    </p>
    <p class="m-footer-copyright jslicense">
      <span><a href="http://beian.miit.gov.cn/" target="_blank" rel="noopener">浙ICP20026020号</a></span>
    </p>
  </div>
</footer>
